# Representative Words

## Setup

In [1]:
import pandas as pd

## Read the complete words ranking file

In [2]:
df = pd.read_csv('../../exploratory_data_analytics/representative_words/RW_res/complete_words_ranking.csv')

## Output the top 50 representative words

In [3]:
top50_df = df[:50]
output_path_for_representative_words = 'representative_words.csv'
top50_df.to_csv(output_path_for_representative_words, index=False)

In [4]:
top50_df

          word  score
0        egypt  11870
1        video   9555
2      pyramid   5494
3         best   3772
4          bro   3272
5        great   3202
6        thank   3193
7         hour   3146
8        water   2066
9        proud   2063
10        cool   1903
11     mrbeast   1854
12        time   1643
13     histori   1642
14       world   1530
15        next   1459
16       money   1398
17    properti   1291
18       peopl   1274
19       beast   1197
20       first   1183
21       thing   1168
22        much   1164
23       crazi   1131
24  bangladesh   1074
25     ancient   1058
26        year   1051
27        love   1040
28        gold    948
29        amaz    903
30         wow    813
31      welcom    804
32       civil    777
33         old    774
34      awesom    733
35      beauti    723
36          vm    721
37        tomb    692
38          im    692
39        nice    691
40           u    665
41      youtub    657
42       alien    647
43        come    643
44       place    612
45        view    589
46         big    585
47      wonder    567
48        mani    558
49     content    557